html {
  background-color: #eee;
}

html.YES {
  background-color: #f00;
}

body {
  width: 27em;
  margin: 3em auto;
  padding: 3em;
  padding-top: 0.1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  background-color: #fff;
  line-height: 1.4em;
}

h1 {
  margin: 1em 0;
  font-size: 6em;
  text-align: center;
}

h3 {
  margin: 0.75em 0;
}

a {
  color: #369;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  color: #630;
  font-size: 0.9em;
  line-height: 1.2em;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
}

div#summary {
  padding: 0.5em 1em;
  border: solid 1px #333;
}

div#embed {
  margin: 2em 0;
  padding: 0.5em 1em;
  background-color: #ffe;
  border: solid 1px #bba;
}


p#credits {
  margin-top: 2em;
  color: #666;
  font-size: 0.9em;
  text-align: center;
}
